/* Error: "This input is not valid. A string is expected"
 *    ,
 * 35 |     @include play-area(4, contain)
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\style.scss 35:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "This input is not valid. A string is expected"\a    \2577 \a 35 \2502      @include play-area(4, contain)\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\style.scss 35:5  root stylesheet';
}
