// re-usable code for the main square in the middle of both screens

@mixin play-area($file-location, $bg-size) {
    border-style: groove;
    border-color: $secondary-color;
    border-width: 1em;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50%;
    height: 50em;
    background-image: url($file-location);
    background-size: $bg-size;
    z-index: 0;
}
