body {
    background-color: pink;
}

#main-screen {
    border-style: groove;
    border-color: rgb(100, 223, 120);
    border-width: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50%;
    height: 50em;
    background-image: url(assets/1134.jpg);
    background-size: contain;
    z-index: 0;
    
}

.character-location {
    width: 40%;
    position: relative;
    height: 32em;
    top: 10em;
    left: 1em;
    text-align: center;

}


.character-location img{
    position: relative;
    height: 37em;
    z-index: 1;
}

.chosen-hair{
    position: relative;
    z-index: 3;
    width: 30px;
    height: 30px;
    border-style: groove;
    border-color: transparent;
    bottom: 20em;
    left: 11.8em;
}

.chosen-top{
    position: relative;
    z-index: 3;
    width: 30px;
    height: 30px;
    border-style: groove;
    border-color: transparent;
    bottom: 20em;
    left: 11.8em;
}

.chosen-bottom {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 30px;
    border-style: groove;
    border-color: transparent;
    bottom: 20em;
    left: 11.8em;
}

.clothing-menu {
    position: relative;
    width: 26em;
    height: 43em;
    background-color: rgba(0, 255, 98, 0.61);
    border-radius: 10%;
    z-index: 2;
    bottom: 33em;
    left: 29em;
}

.clothing-types {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2em;
    color: rgb(255, 20, 137);
}

.hair-options {
    /* display: none; */
    text-align: center;
}

.hair-options img {
    width: 15em;
    height: auto;
    margin-bottom: -14em;
}

.top-options {
    /* display: none; */
    text-align: center;
}

.top-options img {
    width: 15em;
    height: auto;
    margin-bottom: -10em;
    /* margin-top: -5em; */
}

.bottom-options {
    text-align: center;
}

#hair-btn, #top-btn, #bottom-btn {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}








