body {
    background-color: pink;
    width: 119em;
}

aside {
    position: absolute;
    background-color: rgb(255, 20, 137);
    border-radius: 10%;
    padding: 1em;
    text-align: center;
    top: 15em;
    width: 15em;
    left: 8em;
    box-shadow: 20px 20px 50px hotpink;
}

aside p {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1em;
    color: rgb(100, 223, 120);
}

#main-screen {
    border-style: groove;
    border-color: rgb(100, 223, 120);
    border-width: 1em;
    box-shadow: 0px 0px 50px hotpink;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    width: 50%;
    height: 50em;
    background-image: url(assets/1134.jpg);
    background-size: contain;
    z-index: 0;
    
}

.character-location {
    width: 40%;
    position: relative;
    height: 32em;
    top: 10em;
    left: 1em;
    text-align: center;

}


.character-location img{
    position: relative;
    height: 37em;
    z-index: 1;
}

.chosen-hair{
    position: relative;
    z-index: 2;
    width: 30px;
    height: 30px;
    border-style: groove;
    border-color: transparent;
    bottom: 20em;
    left: 11.8em;
}

.chosen-top{
    position: relative;
    z-index: 4;
    width: 30px;
    height: 30px;
    border-style: groove;
    border-color: transparent;
    bottom: 15em;
    left: 11.8em;
}

.chosen-bottom {
    position: relative;
    z-index: 3;
    width: 30px;
    height: 30px;
    border-style: groove;
    border-color: transparent;
    bottom: 10em;
    left: 11.8em;
}

.clothing-menu {
    position: relative;
    width: 26em;
    height: 43em;
    background-color: rgba(0, 255, 98, 0.61);
    border-radius: 10%;
    z-index: 2;
    bottom: 35em;
    left: 29em;
}

.clothing-types {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2em;
    color: rgb(255, 20, 137);
}

.hair-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
}

.hair-options img {
    width: 7em;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.top-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
}

.top-options img {
    width: 8em;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.bottom-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
}

.bottom-options img {
    width: 3.7em;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#hair-btn, #top-btn, #bottom-btn {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#finished-btn {
    position: relative;
    z-index: 6;
    width: 8em;
    bottom: 40em;
    left: 18em;
}

#finished-btn img{
    width: 7em;
    height: auto;
}

#finished-btn a {
    position: relative;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: hotpink;
    z-index: 7;
    bottom: 3.9em;
    left: 0em;
    text-decoration: none;
}









